/build
google-services.json
/datadownandup/
.idea/
.gradle/
*.iml
captures/
.externalNativeBuild/
.cxx/
local.properties
*.log
/captures/
*.jks
*.keystore
app/schemas/
*.db
*.db-shm
*.db-wal
.navigation/
assetViewState.xml
config/
shelf/
workspace.xml


